metadata-version = "2015-12-19"
log-level = "debug"
interval = 30
onetime = false

[[template]]
source = "/etc/rancher-gen/nginx.tmpl"
dest = "/etc/nginx/nginx.conf"
check-cmd = "/usr/sbin/nginx -t -c {{staging}}"
notify-cmd = "/usr/sbin/nginx -s reload"
notify-output = true

[[template]]
source = "/etc/rancher-gen/apache.tmpl"
dest = "/etc/apache2/sites-available/default"
notify-cmd = "/usr/sbin/apachectl graceful"
notify-output = false
