{{ range services -}}
{{ if not .Parent -}}
{{ $fluentd := .Metadata.GetValue "fluentd" -}}
{{ if $fluentd -}}
{{ if $fluentd.plugins -}}
{{ range $fluentd.plugins -}}
{{ . }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
